.button {
  transition: all 0.5s ease;
  background-color: #2185D0;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.button:hover {
  background-color: #1175C0;
}